/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.body-div {
    background-color: #7D7D7D;
    margin: 0 auto;
    -ms-overflow-style: none;
    overflow-x: hidden;
}
.header{
    position: relative;
}
.logo-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}
.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    color: #fff;
    cursor: pointer;
}
.header-block {
    position: fixed;
    left: 0;    
    top: 0;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #5c5252;
}
.burgerBar {
    display: none;
    margin-right: 10%;
    font-size: 30px;
}
.burgerBar:hover {
    cursor: pointer;
    color: #351515;
}
.banner{
    width: 100%;
    min-height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position:70%;
       object-position:70%;
}
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    margin-left: 25%; 
    align-items: center; 
    text-align: center;  
    position: fixed; 
}
.navActive {
    display: block;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 935px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 13px;
    color: #fff; 
}
.header-a {
    color: bisque;
    font-size: 20px; 
}
.header-text{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 5%;
    -webkit-transform: translate(0 , -50%);
        -ms-transform: translate(0 , -50%);
            transform: translate(0 , -50%);
    max-width: 650px;
    min-width: 290px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; 
}
.header-h1 {
    width: 100%;
    font-family: 'Sigmar';
    font-weight: 800;
    font-size: 50px;
    line-height: 82px;
    color:lightcoral;
    margin-bottom: 50px;
}
.header-h1:hover {
    color: coral;
    cursor: pointer;
}
.header-h3 {
    width: 100%;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 44px;
    line-height: 82px;
    color: bisque;
    margin-bottom: 50px;
}
/* section 1 styles */
.container1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #7D7D7D;
}
.flex1 {
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.text-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 608px;
    width: 100%;
    gap: 20px;
}
.section1-h2 {
    max-width: 600px;
    width: 100%;
    left: 139px;
    font-family: 'Sigmar';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section1-p {
    max-width: 600px;
    left: 139px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-top: 20px;
}
.container1-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px;
    gap: 10px;
    width: 160px;
    height: 48px;
    left: 139px;
    top: 2282px;
    background-color: bisque;
    cursor: pointer;
}
.container1-a:hover {
    background-color: lightcoral;
}
.asianfood {
    width: 100%;
    object-fit: cover;
}
.image1 {
    margin-top: 20px;
    max-width: 608px;
    width: 100%;
    object-fit: cover;
}
/* section #2 styles */ 
.container2{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #7e6363;
    margin-top: 100px;
    width: 100%;
}
.container2-text {
    max-width: 348px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 31px;
}
.container2-h3 {
    font-family: 'Sigmar';
    font-size: 65px;
    color:#000
}
.container2-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 50px;
}
.food-container{
    width: 33%;
    min-width: 300px;
}
.food-image {
    max-width: 350px;
    height: 380px;
    width: 100%;
    object-fit: cover;
}
.food-container-h2 {
    font-size: 20px;
    font-family: 'Inter';
    margin-top: 10px;
    color: #000;
}
.food-container-h2:hover {
    color: antiquewhite;
    cursor: pointer;
}
.food-container-p {
    font-size: 17px;
    font-family: 'Roboto';
    margin-top: 10px;
    color: #522828;
}
.food-container-p:hover {
    color: aquamarine;
    cursor: pointer;
}
/* section #3 styles */
.team-block{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #7D7D7D;
    margin-top: 120px;
}
.team-title{
    width: 348px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60x;
    margin-bottom: 31px;
}
.team-block-h5{
    font-family: 'Poppins';
    font-size: 30px;
    color: #000;
    margin-bottom: 16px;
}
.team-block-h2{
    font-family: 'Sigmar';
    font-size: 45px;
    color: #000;
    font-weight: bold;
    margin-bottom: 40px;
}
.team-block-h2:hover {
    color: antiquewhite;
    cursor: pointer;
}
.team-wrapper{
    width: 1220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team-image {
    max-width: 400px;
    object-fit: cover;
    width: 100%;
}
.team-introduction{
    max-width: 400px;
    height: 550px;
}
.team-introduction-text{
    max-width: 400px;
    height: 300px;
    left: 22px;
    bottom: 22px;
    margin-top: 25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #5a4a4a;
}
.introduction-h2{
    font-family: 'Poppins';
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}
.introduction-h2:hover {
    color: #fff;
    cursor: pointer;
}
.introduction-h3{
    font-family: 'Inter';
    font-size: 18px;
    color: #000;
}
.introduction-h3:hover {
    cursor: pointer;
    color: aquamarine;
}
.introduction-p {
    font-size: 16px;
    font-family: 'Inter';
    margin-top: 10px;
}

/* section #4 styles */
.order-block {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    background-image: url(../images/banner.avif)
}
.order-h3 {
    font-family: 'Sigmar';
    font-size: 45px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 40px;
    color: rgb(153, 175, 196);
}
.order-h3:hover {
    cursor: pointer;
    color: #522828;
}
.form-element {
    max-width:700px;
    width: 80%;
    margin:0 auto;
}
label {
    color: #fff;
    font-size: 16px;
    font-family: 'Inter';
}
.form-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.input-value {
    width: 100%;
    height: 60px;
    margin: 30px 0;
    color: var(--main-color-red);
    font-size: var(--main-size);
}
.select-form {
    height: 65px;
}
.btn-submit {
    margin-top: 20px;
    width: 100px;
    height: 60px;
    border-radius: 5%;
}
/* section #5 styles */
.contact-block {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 120px;
    margin-bottom: 70px;
}
.contact-block-title {
    font-family: 'Poppins';
    font-size: 35px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
}
.contact-h3 {
    font-size: 40px;
    font-family: 'Sigmar';
    color: #000;
    width: 100%;
}
.contact-h3:hover {
    color: #d3c4c4;
    cursor: pointer;
}
.left-block-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	vertical-align: middle;
    max-width: 500px;
    margin: 0 auto;
}
.right-block-contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
    border-color: #7e6363;
    width: 100%;
    max-width: 700px;
    min-width: 290px;
}
.contact-ul {
    margin-bottom: 30px;
}
span {
    color: #351515;
    font-size: 16px;
    font-family: 'Inter';
}
/* footer styles */
.footer {
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
    background-color: #5c5252;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
    padding: 20px;
}
.footer-element {
    margin-right: 60px;
    padding: 20px;
}
.footer-h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-p {
    color: aliceblue;
    font-size: 16px;
}
.footer-p-a {
    color: #000;
}
.footer-p-a:hover {
    color: aqua;
}